@font-face {
  font-family: 'dot-matrix';
  src: url('./Arcade.ttf');
}
#marquee {
    width: 100vw;
    max-width: 100%;
    height: 400px;
    overflow-x: hidden;
    font-family: 'dot-matrix';
    background-color: #3D6FC8;
    color: white;
    font-size: 7rem;
  }
  
  #track {
    position: absolute;
    top: 55px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 102s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(5%); }
    to { transform: translateX(-50%); }
  }